<br />

1. Create a New Season : <br />
Season : <input type="text" [(ngModel)]="season_name" /> 

<br /><br />
<button (click)=insertSeason()>  
  Create New Season : {{ season_name }}  
</button>

<br /><br /><br />

2. Create a Qualy / Race Table : <br />
Season : <input type="text" [(ngModel)]="season_name" /> <br />
Track : <input type="text" [(ngModel)]="track_name" /> 

<br /><br />
<button (click)=insertResult(1)>  
  Create New Qualy Table  
</button>
<button (click)=insertResult(2)>  
  Create New Race Table  
</button>

<br /><br /><br />

3. Create a New User : <br />
Username : <input type="text" [(ngModel)]="newuser.username" /> <br />
Name : <input type="text" [(ngModel)]="newuser.name" /> <br />
Discord : <input type="text" [(ngModel)]="newuser.discord" /> <br />
Steam : <input type="text" [(ngModel)]="newuser.steam" /> <br />
Location : <input type="text" [(ngModel)]="newuser.location" /> <br />
Number : <input type="text" [(ngModel)]="newuser.number" /> <br />
Role : <input type="text" [(ngModel)]="newuser.role" /> <br />
aka : <input type="text" [(ngModel)]="newuser.aka" /> <br />

<br /><br />
<button (click)=insertUser()>  
  Create New User  
</button>

<br /><br /><br />
<input type="text" [(ngModel)]="pin" />

<br /><br />
{{ status }}

<br /><br /><br />
