<div *ngIf="userLoaded">
    Users : <br />
    {{ users }}
</div>

<div *ngIf="teamsLoaded">
    Teams : <br />
    {{ teams }}
</div>

<br /><br />

<div *ngIf="ready">
    <!---
    <ol>
        <div *ngFor="let num of order; index as i">
            <li *ngIf="users[num].active && teams[num][teamsC[curseason]] != 'None'">
                {{ i+1 }} -> {{users[num].username}} : {{ teams[num][teamsC[curseason]] }} --------- {{ points[num] }}
            </li>
        </div>
    </ol>
    -->

    <br /><br />

    <h2> Roster for Season {{ curseason + 1 }} </h2>

    <table>
    
        <tr>
            <th width="75" style="text-align:center"> Pos. </th>
            <th width="350" style="text-align:center"> Team </th>
            <th colspan="2" width="400" style="text-align:center"> Drivers </th>
            <th width="75" style="text-align:center"> Points </th>
            <!---<th *ngFor="let track of seasonC" > {{ track }} </th>-->
        </tr>
         
        <tr *ngFor="let team of constructors; index as j">
                <td width="75" style="text-align:center"> {{ j+1 }}</td>
                <td width="350" style="text-align:center"> {{ team.team }} </td>
                <td *ngFor="let member of team.member" width="200" style="text-align:center"> {{ users[member].username }} </td>
                <td width="75" style="text-align:center"> {{ team.points }} </td>
                <!---<td *ngFor="let track of seasonC" width="150" style="text-align:center"> {{ season1[j][track] }} </td>-->
        </tr>
    </table>

    <br /><br />

    <h2> Reserves </h2>

    <ul>
        <li *ngFor="let r of reserves">
            {{ users[r].username }}
        </li>
    </ul>

    <br /><br />

    Seasons : <br />
    <div *ngFor="let season of seasonsT; index as j">
        <button (click)=changeSeason(j)>  {{season | titlecase}}  </button>
    </div>
	<!--- Current Drivers 
    <div *ngFor="let team of teams">
	<li *ngIf="team != 'Reserve'">

	</li>
    </div>

    <br /><br />

    <ul>
	<li *ngFor="let season of teamsC; index as j" (click)="changeseason(j)"> {{ season }} </li>
    </ul> -->
</div>

<br /><br />


<!---
<table>
    <tr>
        <th> Position </th>
        <th> Driver </th>
        <th *ngFor="let track of season1C"> {{ track }} </th>
        <th> Points </th>
    </tr>

    <div *ngFor="let user of users; index as j">
        <tr *ngIf="user.active">
            <td width="150" style="text-align:center"> {{ j }}</td>
            <td width="150" style="text-align:center"> {{ user.username }} </td>
            <td *ngFor="let track of season1C" width="150" style="text-align:center"> {{ season1[j][track] }}</td>
            <td width="150" style="text-align:center"> {{ points[j] }}</td>
        </tr>
    </div>
</table>
--->

<br /><br /><br />


