<div *ngIf="userLoaded">
    Users : <br />
    {{ users }}
</div>

<br /><br />

<div *ngIf="seasonLoaded">
    Season {{ curseason + 1 }} : <br />
    {{ season }}
</div>

<br /><br />

<div *ngIf="seasonCLoaded">
    Season {{ curseason + 1 }} Columns : <br />
    {{ seasonC }}
</div>

<br /><br />

<div *ngIf="ready">
    <ol>
        <div *ngFor="let user of users; index as i">
            <li *ngIf="user.active"> {{i}} -> {{user.username}} : {{points[user.id - 1]}} </li>
        </div>
    </ol>
</div>

<br /><br />

Seasons : <br />
<div *ngFor="let season of seasonsT; index as j">
    <button (click)=changeSeason(j)>  
        {{season | titlecase}}  
    </button>
</div>

<br /><br /><br />
<ul>
    <div *ngFor="let n of order">
        <li> {{ n }} </li>
    </div>
</ul>
<br /><br />
<table>
    
    <tr>
        <th width="75" style="text-align:center"> Pos. </th>
        <th width="250" style="text-align:center"> Driver </th>
        <th width="100" style="text-align:center"> Points </th>
        <th *ngIf="flapdefined" width="75" style="text-align:center"> F Lap </th>
        <!---<th *ngFor="let track of seasonC" > {{ track }} </th>-->
    </tr>
     
    <tr *ngFor="let num of order; index as j">
            <td width="75" style="text-align:center"> {{ j+1 }}</td>
            <td width="250" style="text-align:center"> {{ users[num].username }} </td>
            <td width="100" style="text-align:center"> {{ points[num] }} </td>
            <td *ngIf="flapdefined" width="75" style="text-align:center"> {{ flapuser[num] }} </td>
            <!---<td *ngFor="let track of seasonC" width="150" style="text-align:center"> {{ season1[j][track] }} </td>-->
    </tr>
</table>
 <!---
<div *ngFor="let user of users; index as j">
    <tr *ngIf="user.active">
        <td width="150" style="text-align:center"> {{ j+1 }}</td>
        <td width="150" style="text-align:center"> {{ user.username }} </td>
        <td *ngFor="let track of season1C"  width="150" style="text-align:center"> {{ season1[j][track] }}</td>
        <td width="150" style="text-align:center"> {{ points[j] }}</td>
    </tr>
</div>
-->
<br /><br /><br />


